<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gov.cnao.ao.ai.bfs.mapper.DictTypeMapper">
  <resultMap id="BaseResultMap" type="gov.cnao.ao.ai.bfs.entity.DictType">
    <id column="DICT_TYPE_ID" jdbcType="VARCHAR" property="dictTypeId" />
    <result column="DICT_TYPE_NM" jdbcType="VARCHAR" property="dictTypeNm" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_USER_NM" jdbcType="VARCHAR" property="createUserNm" />
    <result column="CREATE_TMS" jdbcType="TIMESTAMP" property="createTms" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="UPDATE_USER_NM" jdbcType="VARCHAR" property="updateUserNm" />
    <result column="UPDATE_TM" jdbcType="TIMESTAMP" property="updateTm" />
  </resultMap>
  <sql id="Base_Column_List">
    DICT_TYPE_ID, 
    DICT_TYPE_NM, 
    CREATE_USER, 
    CREATE_USER_NM, 
    CREATE_TMS, 
    UPDATE_USER, 
    UPDATE_USER_NM, 
    UPDATE_TM
  </sql>
  <!--查询字典类别目录  -->
  <select id="queryDictTypeConent" parameterType="gov.cnao.ao.ai.bfs.vo.DictTypeVO" resultMap="BaseResultMap">
    select 
    DICT_TYPE_NM,DICT_TYPE_ID 
    from T_BFS_DICT_TYPE 
    where 1=1
    <if test="dictTypeId != null and dictTypeId != '' ">
        and	DICT_TYPE_ID = #{dictTypeId,jdbcType=VARCHAR}
	</if>
	<if test="dictTypeNm != null and dictTypeNm != ''">
        AND DICT_TYPE_NM like ('%' || #{dictTypeNm,jdbcType=VARCHAR} || '%')
    </if>
   </select>
  <!--查询字典类别信息  -->
  <select id="queryDictType" parameterType="gov.cnao.ao.ai.bfs.vo.DictTypeVO" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BFS_DICT_TYPE 
    where 1=1
    <if test="dictTypeId != null and dictTypeId != '' ">
        and	DICT_TYPE_ID = #{dictTypeId,jdbcType=VARCHAR}
	</if>
	<if test="dictTypeNm != null and dictTypeNm != ''">
        AND DICT_TYPE_NM like ('%' || #{dictTypeNm,jdbcType=VARCHAR} || '%')
    </if>
    order by CREATE_TMS desc
   </select>
   
  <!--分页查询数据字典类型信息  -->
  <select id="queryDictTypePage" parameterType="gov.cnao.ao.ai.bfs.vo.DictTypeVO" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BFS_DICT_TYPE 
    where 1=1
    <if test="dictTypeId != null and dictTypeId != '' ">
        and	DICT_TYPE_ID = #{dictTypeId,jdbcType=VARCHAR}
	</if>
	<if test="dictTypeNm != null and dictTypeNm != ''">
        AND DICT_TYPE_NM like ('%' || #{dictTypeNm,jdbcType=VARCHAR} || '%')
    </if>
    limit #{head.pgsn}, #{head.pgrw}
    order by CREATE_TMS desc
   </select>
   
   
   
  <!--查询数据字典类型总数  -->
  <select id="queryDictTypeCount" parameterType="gov.cnao.ao.ai.bfs.vo.DictTypeVO" resultType="java.lang.Integer">
    select 
    	count(*)
    from T_BFS_DICT_TYPE 
    where 1=1
    <if test="dictTypeId != null and dictTypeId != '' ">
        and	DICT_TYPE_ID = #{dictTypeId,jdbcType=VARCHAR}
	</if>
	<if test="dictTypeNm != null and dictTypeNm != ''">
        AND DICT_TYPE_NM like ('%' || #{dictTypeNm,jdbcType=VARCHAR} || '%')
    </if>
   </select>
   <!--删除字典类别信息  -->
  <delete id="deleteDictType" parameterType="gov.cnao.ao.ai.bfs.vo.TypeVO">
    delete from T_BFS_DICT_TYPE
    where DICT_TYPE_ID = #{dictTypeId,jdbcType=VARCHAR}
  </delete> 
  <!--新增字典类别信息-->
  <insert id="insertDictType" parameterType="gov.cnao.ao.ai.bfs.vo.DictTypeVO">
    insert into T_BFS_DICT_TYPE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dictTypeId != null">
        DICT_TYPE_ID,
      </if>
      <if test="dictTypeNm != null">
        DICT_TYPE_NM,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createUserNm != null">
        CREATE_USER_NM,
      </if>
      <if test="createTms != null">
        CREATE_TMS,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
      <if test="updateUserNm != null">
        UPDATE_USER_NM,
      </if>
      <if test="updateTm != null">
        UPDATE_TM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dictTypeId != null">
        #{dictTypeId,jdbcType=VARCHAR},
      </if>
      <if test="dictTypeNm != null">
        #{dictTypeNm,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createUserNm != null">
        #{createUserNm,jdbcType=VARCHAR},
      </if>
      <if test="createTms != null">
        #{createTms,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUserNm != null">
        #{updateUserNm,jdbcType=VARCHAR},
      </if>
      <if test="updateTm != null">
        #{updateTm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <!--修改字典类别  -->
  <update id="updateDictType" parameterType="gov.cnao.ao.ai.bfs.vo.DictTypeVO">
    update T_BFS_DICT_TYPE
    <set>
      <if test="dictTypeNm != null">
        DICT_TYPE_NM = #{dictTypeNm,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createUserNm != null">
        CREATE_USER_NM = #{createUserNm,jdbcType=VARCHAR},
      </if>
      <if test="createTms != null">
        CREATE_TMS = #{createTms,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUserNm != null">
        UPDATE_USER_NM = #{updateUserNm,jdbcType=VARCHAR},
      </if>
      <if test="updateTm != null">
        UPDATE_TM = #{updateTm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where DICT_TYPE_ID = #{dictTypeId,jdbcType=VARCHAR}
  </update>
  
  <insert id="insert" parameterType="gov.cnao.ao.ai.bfs.vo.DictTypeVO">
    insert into T_BFS_DICT_TYPE (DICT_TYPE_ID, DICT_TYPE_NM, CREATE_USER, 
      CREATE_USER_NM, CREATE_TMS, UPDATE_USER, 
      UPDATE_USER_NM, UPDATE_TM)
    values (#{dictTypeId,jdbcType=VARCHAR}, #{dictTypeNm,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{createUserNm,jdbcType=VARCHAR}, #{createTms,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateUserNm,jdbcType=VARCHAR}, #{updateTm,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="gov.cnao.ao.ai.bfs.vo.DictTypeVO">
    update T_BFS_DICT_TYPE
    set DICT_TYPE_NM = #{dictTypeNm,jdbcType=VARCHAR},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_USER_NM = #{createUserNm,jdbcType=VARCHAR},
      CREATE_TMS = #{createTms,jdbcType=TIMESTAMP},
      UPDATE_USER_ID = #{updateUser,jdbcType=VARCHAR},
      UPDATE_USER_NM = #{updateUserNm,jdbcType=VARCHAR},
      UPDATE_TM = #{updateTm,jdbcType=TIMESTAMP}
    where DICT_TYPE_ID = #{dictTypeId,jdbcType=VARCHAR}
  </update>
</mapper>