<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gov.cnao.ao.ai.bfs.mapper.HomePageMapper">
	<resultMap id="BaseResultMap" type="gov.cnao.ao.ai.bfs.vo.SchemVO">
		<result column="table_schem" jdbcType="VARCHAR" property="tableSchem" />
	</resultMap>
	
	<!-- 查询项目Schem信息 -->
	<select id="queryPrjSchem" parameterType="gov.cnao.ao.ai.bfs.vo.SchemVO" resultMap="BaseResultMap">
		select table_schem from V_SYS_SCHEMAS where table_schem = #{tableSchem}
	</select>
	
</mapper>