<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gov.cnao.ao.ai.bfs.mapper.PersonMapper">
  <resultMap id="BaseResultMap" type="gov.cnao.ao.ai.bfs.entity.Person">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name
  </sql>
  
  <select id="queryPerson" parameterType="gov.cnao.ao.ai.bfs.entity.Person" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from person
    where 1=1
    <if test="id != null and id != ''">
            and ID = #{id}
    </if>
    <if test="name != null and name != ''">
            and NAME = #{name}
    </if>
  </select>
  
   <insert id="insertPerson" parameterType="gov.cnao.ao.ai.bfs.entity.Person">
        <selectKey keyProperty="id" resultType="String" order="BEFORE">
            select replace(UUID(),'-','') from dual
        </selectKey>
        INSERT INTO
        person
        (
	         ID,
			 NAME
        )
        VALUES
        (
	        #{id},
	        #{name}
        )
    </insert>
    
    <update id="updatePerson" parameterType="gov.cnao.ao.ai.bfs.entity.Person">
       update person set 
       	   NAME=#{name}
        where id=#{id}
    </update>
    
    <delete id="deletePerson" parameterType="gov.cnao.ao.ai.bfs.entity.Person">
        delete from person where id = #{id}
    </delete> 
</mapper>