<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gov.cnao.ao.ai.bfs.mapper.SchemaStateMapper">
  <resultMap id="BaseResultMap" type="gov.cnao.ao.ai.bfs.entity.SchemaState">
    <id column="AUDIT_PRJ_ID" jdbcType="VARCHAR" property="auditPrjId" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_USER_NM" jdbcType="VARCHAR" property="createUserNm" />
    <result column="CREATE_TMS" jdbcType="VARCHAR" property="createTms" />
  </resultMap>
  <sql id="Base_Column_List">
    AUDIT_PRJ_ID, 
    STATE, 
    CREATE_USER, 
    CREATE_USER_NM, 
    CREATE_TMS
  </sql>
  <select id="querySchemaState" parameterType="gov.cnao.ao.ai.bfs.entity.SchemaState" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BFS_SCHEMA_STATE
    where AUDIT_PRJ_ID = #{auditPrjId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteSchemaState" parameterType="gov.cnao.ao.ai.bfs.entity.SchemaState">
    delete from T_BFS_SCHEMA_STATE
    where AUDIT_PRJ_ID = #{auditPrjId,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSchemaState" parameterType="gov.cnao.ao.ai.bfs.entity.SchemaState">
    insert into T_BFS_SCHEMA_STATE (AUDIT_PRJ_ID, STATE, CREATE_USER, 
      CREATE_USER_NM, CREATE_TMS)
    values (#{auditPrjId,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{createUserNm,jdbcType=VARCHAR}, #{createTms,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="gov.cnao.ao.ai.bfs.entity.SchemaState">
    insert into T_BFS_SCHEMA_STATE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="auditPrjId != null">
        AUDIT_PRJ_ID,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createUserNm != null">
        CREATE_USER_NM,
      </if>
      <if test="createTms != null">
        CREATE_TMS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="auditPrjId != null">
        #{auditPrjId,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createUserNm != null">
        #{createUserNm,jdbcType=VARCHAR},
      </if>
      <if test="createTms != null">
        #{createTms,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="gov.cnao.ao.ai.bfs.entity.SchemaState">
    update T_BFS_SCHEMA_STATE
    <set>
      <if test="state != null">
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createUserNm != null">
        CREATE_USER_NM = #{createUserNm,jdbcType=VARCHAR},
      </if>
      <if test="createTms != null">
        CREATE_TMS = #{createTms,jdbcType=VARCHAR},
      </if>
    </set>
    where AUDIT_PRJ_ID = #{auditPrjId,jdbcType=VARCHAR}
  </update>
  <update id="updateSchemaState" parameterType="gov.cnao.ao.ai.bfs.entity.SchemaState">
    update T_BFS_SCHEMA_STATE
    set STATE = #{state,jdbcType=VARCHAR},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_USER_NM = #{createUserNm,jdbcType=VARCHAR},
      CREATE_TMS = #{createTms,jdbcType=VARCHAR}
    where AUDIT_PRJ_ID = #{auditPrjId,jdbcType=VARCHAR}
  </update>
</mapper>